*{
  margin: 0;
  padding: 0;
}
.login{

    background-Color: #008dff !important

}
span{
  color: black;
}
@media only screen and (max-width: 600px) {
  .alert{
    width: 100% !important; 
    margin-left: auto;
    margin-right: auto;
  }
}